<div class="w3-cft-home">

    <div class="row d-flex justify-content-center align-items-center flex-column">
        <div class="col-12 col-sm-8 col-md-8 col-lg-6">

            <section class="w3-cft__header">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <img src="/public/image/logo-icon-rounded.webp" alt="logo">
                    </div>
                    <div class="col-12 col-md-9">
                        <h1 class="title">VERIFIQUE EL TIPO DE ARCHIVO EN LÍNEA - SIEMPRE GRATIS Y MÁS SEGURO</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 w3-ctf__title">
                        <h2>Obtenga información sobre el tipo de archivo, peso, fecha de creacion, ultima actualizacion y adicional visualiza en linea el contenido del mismo</h2>
                    </div>
                </div>
            </section>

        </div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">

            <section>
                <div class="col-md-12 w3-cft__header--output no-grutters">
                    <div class="mb-0" id="output"></div>
                </div>
            </section>

            <section class="w3-cft__file-upload">
                <div class="row">
                    <div class="col-12 text-center">
                        {{> file-upload }} 
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-success btn-block">
                                    <i class="icofont icofont-gears icofont-2x mr-1"></i>
                                    Comprobar el tipo de archivo
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-outline-success btn-block">
                                    <i class="icofont icofont-cloud-refresh icofont-2x mr-1"></i>
                                    Refrescar
                                </button>
                            </div>
                        </div>
                    </div>
                </div> 
            </section>

        </div>
    </div>

</div>




