:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primary: #557174;
    --secondary: #9dad7f;
    --tertiary: #c7cfb7;
    --bg-blanco: #f7f7e8;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var( --oscuro );
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

.col-5 {
    width: 41.6665%;
}

.col-7 {
    width: 58.3331%;
}

.mt-5rem {
    margin-top: 5rem;
}

.mt-3rem {
    margin-top: 3rem;
}

.mt-2rem {
    margin-top: 2rem;
}

.mt-1rem {
    margin-top: 1rem;
}

.my-1rem {
    margin: 1rem 0;
}

.text-justify {
    text-align: justify;
}

.size-type {
    font-family: monospace;
    font-size: 1.1rem;
    font-weight: 700;
}

.header {
    background-color: var( --primary );
    padding: 3rem;
    color: var( --blanco );
}
header .contenedor {
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

main .contenedor {
    max-width: 80%;
    margin: 0 auto;
}

main .contenedor .row {
    display: flex;
}

.contenedor .version p{
    font-size: 1.2rem;
}

section,
aside {
    padding: 3rem;
}

section.leer-archivo h3 {
    color: var( --primary );
}

aside .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




