<nav class="w3-cft-navbar navbar navbar-expand-lg navbar-dark bg-info">
      <div class="container d-flex align-items-center">

        <a class="navbar-brand" href="#" title="Icons made by https://www.flaticon.com/authors/iconixar">
            <img src="/public/image/logo-text.png" width="200" alt="w3 image validator">
        </a>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav mr-5">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Imagenes</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar imagen">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>

        </div>  
    </nav>